In [2]:
import pandas as pd
import missingno
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
plant = pd.read_csv("data/21.savedata_plant/plant.csv")
plant.head()

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,COND_LOC,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC
0,2016-04-01 00:00:00,1,1,16.0,24.0,11.0,9.0,42.0,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0
1,2016-04-01 03:00:00,1,1,14.0,28.0,10.0,7.0,59.0,0.0,2016-04-02 03:00:00,0.0,2016-04-03 03:00:00,0.0
2,2016-04-01 06:00:00,1,1,13.0,33.0,10.0,6.0,56.0,0.0,2016-04-02 06:00:00,0.0,2016-04-03 06:00:00,0.0
3,2016-04-01 09:00:00,1,1,13.0,33.0,10.0,18.0,30.0,0.0,2016-04-02 09:00:00,0.0,2016-04-03 09:00:00,0.0
4,2016-04-01 12:00:00,1,1,16.0,28.0,10.0,18.0,20.0,0.0,2016-04-02 12:00:00,0.0,2016-04-03 12:00:00,0.0

In [4]:
test_data =pd.read_csv("data/21.savedata_plant/test_data.csv")
test_data.head()

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC
0,2019-04-01 0:00,2,3,8.17,40.42,10.10,4.20,54.82,2019-04-02 0:00,NaN,2019-04-03 0:00,NaN
1,2019-04-01 4:30,1,2,10.03,48.81,10.79,6.09,59.34,2019-04-02 4:30,NaN,2019-04-03 4:30,NaN
2,2019-04-01 10:30,2,3,9.45,40.93,9.07,12.26,32.14,2019-04-02 10:30,NaN,2019-04-03 10:30,NaN
3,2019-04-01 11:00,1,1,12.32,34.13,10.86,12.32,28.27,2019-04-02 11:00,NaN,2019-04-03 11:00,NaN
4,2019-04-01 13:30,2,1,11.28,22.65,8.76,12.01,19.84,2019-04-02 13:30,NaN,2019-04-03 13:30,NaN

# 이슬점 추가하기

In [5]:
import sys
import numpy as np
 
# approximation valid for
# 0 degC < T < 60 degC
# 1% < RH < 100%
# 0 degC < Td < 50 degC 
 
# constants
a = 17.271
b = 237.7 # degC
def dewpoint_approximation(T,RH):
 
    Td = (b * gamma(T,RH)) / (a - gamma(T,RH))
 
    return Td
 
def gamma(T,RH):
 
    g = (a * T / (b + T)) + np.log(RH/100.0)
 
    return g
def appendDewpoint(data):
    data["DEW_POINT_IN"] = dewpoint_approximation(data["TEM_IN"], data["HUM_IN"])
    return data

In [6]:
plant = appendDewpoint(plant)
test_data = appendDewpoint(test_data)

In [7]:
plant

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,COND_LOC,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC,DEW_POINT_IN
0,2016-04-01 00:00:00,1,1,16.00,24.00,11.00,9.00,42.00,0.0,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0,-4.561169
1,2016-04-01 03:00:00,1,1,14.00,28.00,10.00,7.00,59.00,0.0,2016-04-02 03:00:00,0.0,2016-04-03 03:00:00,0.0,-4.222123
2,2016-04-01 06:00:00,1,1,13.00,33.00,10.00,6.00,56.00,0.0,2016-04-02 06:00:00,0.0,2016-04-03 06:00:00,0.0,-2.896847
3,2016-04-01 09:00:00,1,1,13.00,33.00,10.00,18.00,30.00,0.0,2016-04-02 09:00:00,0.0,2016-04-03 09:00:00,0.0,-2.896847
4,2016-04-01 12:00:00,1,1,16.00,28.00,10.00,18.00,20.00,0.0,2016-04-02 12:00:00,0.0,2016-04-03 12:00:00,0.0,-2.502215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349312,2019-03-31 23:00:00,2,3,8.29,37.82,9.53,4.72,50.98,0.0,2019-04-01 23:00:00,0.0,2019-04-02 23:00:00,0.0,-5.252838
349313,2019-03-31 23:10:00,2,3,8.26,38.34,9.57,4.72,52.11,0.0,2019-04-01 23:10:00,0.0,2019-04-02 23:10:00,0.0,-5.099800
349314,2019-03-31 23:20:00,2,3,8.29,38.92,9.60,4.66,51.01,0.0,2019-04-01 23:20:00,0.0,2019-04-02 23:20:00,0.0,-4.874884
349315,2019-03-31 23:30:00,2,3,8.32,39.13,9.49,4.57,51.47,0.0,2019-04-01 23:30:00,0.0,2019-04-02 23:30:00,0.0,-4.776917
349316,2019-03-31 23:40:00,2,3,8.26,39.62,9.57,4.47,53.14,0.0,2019-04-01 23:40:00,0.0,2019-04-02 23:40:00,0.0,-4.666200

In [8]:
test_data

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC,DEW_POINT_IN
0,2019-04-01 0:00,2,3,8.17,40.42,10.10,4.20,54.82,2019-04-02 0:00,NaN,2019-04-03 0:00,NaN,-4.482439
1,2019-04-01 4:30,1,2,10.03,48.81,10.79,6.09,59.34,2019-04-02 4:30,NaN,2019-04-03 4:30,NaN,-0.247107
2,2019-04-01 10:30,2,3,9.45,40.93,9.07,12.26,32.14,2019-04-02 10:30,NaN,2019-04-03 10:30,NaN,-3.163210
3,2019-04-01 11:00,1,1,12.32,34.13,10.86,12.32,28.27,2019-04-02 11:00,NaN,2019-04-03 11:00,NaN,-3.042714
4,2019-04-01 13:30,2,1,11.28,22.65,8.76,12.01,19.84,2019-04-02 13:30,NaN,2019-04-03 13:30,NaN,-9.291221
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3534,2020-03-29 3:00,1,2,10.73,33.36,13.30,6.28,46.37,2020-03-30 3:00,NaN,2020-03-31 3:00,NaN,-4.745901
3535,2020-03-29 5:00,2,3,9.15,38.86,11.70,1.39,74.33,2020-03-30 5:00,NaN,2020-03-31 5:00,NaN,-4.125121
3536,2020-03-29 7:00,2,1,7.10,44.87,9.03,4.26,58.06,2020-03-30 7:00,NaN,2020-03-31 7:00,NaN,-4.064845
3537,2020-03-29 11:30,1,1,13.54,33.49,12.20,12.90,33.67,2020-03-30 11:30,NaN,2020-03-31 11:30,NaN,-2.224313
3538,2020-03-29 19:30,1,1,14.21,34.43,12.77,9.88,43.96,2020-03-30 19:30,NaN,2020-03-31 19:30,NaN,-1.259503

# 데이터 시계열 특성 추가
## 데이터 형식 바꿔주기

In [9]:
def changeToDatatime(data):
    data["MEA_DDHR"] = pd.to_datetime(data['MEA_DDHR'])
    data['X24H_TMA'] = pd.to_datetime(data['X24H_TMA'])
    data['X48H_TMA'] = pd.to_datetime(data['X48H_TMA'])
    return data

In [10]:
plant = changeToDatatime(plant)
plant.dtypes

MEA_DDHR         datetime64[ns]
PLANT                     int64
LOC                       int64
TEM_IN                  float64
HUM_IN                  float64
TEM_COIL                float64
TEM_OUT_LOC1            float64
HUM_OUT_LOC1            float64
COND_LOC                float64
X24H_TMA         datetime64[ns]
X24H_COND_LOC           float64
X48H_TMA         datetime64[ns]
X48H_COND_LOC           float64
DEW_POINT_IN            float64
dtype: object

In [11]:
test_data = changeToDatatime(test_data)
test_data.dtypes

MEA_DDHR         datetime64[ns]
PLANT                     int64
LOC                       int64
TEM_IN                  float64
HUM_IN                  float64
TEM_COIL                float64
TEM_OUT_LOC1            float64
HUM_OUT_LOC1            float64
X24H_TMA         datetime64[ns]
X24H_COND_LOC           float64
X48H_TMA         datetime64[ns]
X48H_COND_LOC           float64
DEW_POINT_IN            float64
dtype: object

## 월, 달, 시 추가해주기

In [12]:
def appendMonthANdWeek(data):
    data['MONTH'] = data['MEA_DDHR'].dt.month
    data['WEEK'] = data['MEA_DDHR'].dt.week
    data['HOUR'] = data['MEA_DDHR'].dt.hour
    return data

In [17]:
plant = appendMonthANdWeek(plant)
plant = plant.drop(columns=["COND_LOC"],)
plant

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC,DEW_POINT_IN,MONTH,WEEK,HOUR
0,2016-04-01 00:00:00,1,1,16.00,24.00,11.00,9.00,42.00,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0,-4.561169,4,13,0
1,2016-04-01 03:00:00,1,1,14.00,28.00,10.00,7.00,59.00,2016-04-02 03:00:00,0.0,2016-04-03 03:00:00,0.0,-4.222123,4,13,3
2,2016-04-01 06:00:00,1,1,13.00,33.00,10.00,6.00,56.00,2016-04-02 06:00:00,0.0,2016-04-03 06:00:00,0.0,-2.896847,4,13,6
3,2016-04-01 09:00:00,1,1,13.00,33.00,10.00,18.00,30.00,2016-04-02 09:00:00,0.0,2016-04-03 09:00:00,0.0,-2.896847,4,13,9
4,2016-04-01 12:00:00,1,1,16.00,28.00,10.00,18.00,20.00,2016-04-02 12:00:00,0.0,2016-04-03 12:00:00,0.0,-2.502215,4,13,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349312,2019-03-31 23:00:00,2,3,8.29,37.82,9.53,4.72,50.98,2019-04-01 23:00:00,0.0,2019-04-02 23:00:00,0.0,-5.252838,3,13,23
349313,2019-03-31 23:10:00,2,3,8.26,38.34,9.57,4.72,52.11,2019-04-01 23:10:00,0.0,2019-04-02 23:10:00,0.0,-5.099800,3,13,23
349314,2019-03-31 23:20:00,2,3,8.29,38.92,9.60,4.66,51.01,2019-04-01 23:20:00,0.0,2019-04-02 23:20:00,0.0,-4.874884,3,13,23
349315,2019-03-31 23:30:00,2,3,8.32,39.13,9.49,4.57,51.47,2019-04-01 23:30:00,0.0,2019-04-02 23:30:00,0.0,-4.776917,3,13,23
349316,2019-03-31 23:40:00,2,3,8.26,39.62,9.57,4.47,53.14,2019-04-01 23:40:00,0.0,2019-04-02 23:40:00,0.0,-4.666200,3,13,23

In [18]:
test_data = appendMonthANdWeek(test_data)
test_data

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC,DEW_POINT_IN,MONTH,WEEK,HOUR
0,2019-04-01 00:00:00,2,3,8.17,40.42,10.10,4.20,54.82,2019-04-02 00:00:00,NaN,2019-04-03 00:00:00,NaN,-4.482439,4,14,0
1,2019-04-01 04:30:00,1,2,10.03,48.81,10.79,6.09,59.34,2019-04-02 04:30:00,NaN,2019-04-03 04:30:00,NaN,-0.247107,4,14,4
2,2019-04-01 10:30:00,2,3,9.45,40.93,9.07,12.26,32.14,2019-04-02 10:30:00,NaN,2019-04-03 10:30:00,NaN,-3.163210,4,14,10
3,2019-04-01 11:00:00,1,1,12.32,34.13,10.86,12.32,28.27,2019-04-02 11:00:00,NaN,2019-04-03 11:00:00,NaN,-3.042714,4,14,11
4,2019-04-01 13:30:00,2,1,11.28,22.65,8.76,12.01,19.84,2019-04-02 13:30:00,NaN,2019-04-03 13:30:00,NaN,-9.291221,4,14,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3534,2020-03-29 03:00:00,1,2,10.73,33.36,13.30,6.28,46.37,2020-03-30 03:00:00,NaN,2020-03-31 03:00:00,NaN,-4.745901,3,13,3
3535,2020-03-29 05:00:00,2,3,9.15,38.86,11.70,1.39,74.33,2020-03-30 05:00:00,NaN,2020-03-31 05:00:00,NaN,-4.125121,3,13,5
3536,2020-03-29 07:00:00,2,1,7.10,44.87,9.03,4.26,58.06,2020-03-30 07:00:00,NaN,2020-03-31 07:00:00,NaN,-4.064845,3,13,7
3537,2020-03-29 11:30:00,1,1,13.54,33.49,12.20,12.90,33.67,2020-03-30 11:30:00,NaN,2020-03-31 11:30:00,NaN,-2.224313,3,13,11
3538,2020-03-29 19:30:00,1,1,14.21,34.43,12.77,9.88,43.96,2020-03-30 19:30:00,NaN,2020-03-31 19:30:00,NaN,-1.259503,3,13,19

# 파일 저장하기

In [19]:
plant.to_csv("data/31.finaldata_plant/plant.csv", index=False)

In [20]:
test_data.to_csv("data/31.finaldata_plant/test_data.csv", index=False)