# 활용함수

## add_yearmonth : 연도/월 추가

In [122]:
def add_yearmonth(data, startym):
    
    allsub_df = []
    idx = data[data['sky'].isnull()].index

    for i in range(len(idx)):

        if i == 0:
            sub_df = data.iloc[:idx[i]].copy()
        else:
            sub_df = data.iloc[idx[i-1]+1:idx[i]].copy()
        
        sub_df['yearmonth'] = startym + i
        allsub_df.append(sub_df)
    
    last_month = data.iloc[idx[len(idx) - 1]+1:].copy()
    last_month['yearmonth'] = startym + len(idx)
    allsub_df.append(last_month)
    
    new_data = pd.concat(allsub_df, ignore_index=True)
    
    return new_data

## plus_00 : 00 형태

In [123]:
def plus_00(value):
    
    if len(value) == 2:
        pass
    else:
        value = '0' + value
        
    return value

## plus_0000 : 0000 형태

In [124]:
def plus_0000(value):
    
    if len(value) == 4:
        pass
    elif len(value) == 3:
        value = '0' + value
    elif len(value) == 2:
        value = '00' + value
    else:
        value = '000' + value
    
    return value

## preprocessing : 최종전처리

In [125]:
def preprocessing(data ,startym):
    
    # 컬럼명 변경
    data.columns = ['day', 'hour', 'sky']
    
    # add_yearmonth : 연도/월 추가
    data = add_yearmonth(data, startym)
    data['yearmonth'] = data['yearmonth'].apply(str)
    
    # day 컬럼 형태 변경(00)
    data['day'] =  data['day'].astype(int)
    data['day'] = data['day'].apply(str)
    data['day'] = data['day'].apply(plus_00)
    
    # hour 컬럼 형태 변경(0000)
    data['hour'] = data['hour'].apply(round)
    data['hour'] = data['hour'].apply(str)
    data['hour'] = data['hour'].apply(plus_0000)
    
    # 일자 컬럼 생성 & datetime으로 변환
    data['MEA_DDHR'] = data['yearmonth'] + data['day'] + data['hour']
    data['MEA_DDHR'] = pd.to_datetime(data['MEA_DDHR'])
    
    # 컬럼정리
    data = data.drop(columns=['day', 'hour', 'yearmonth'])
    data = data[['MEA_DDHR', 'sky']]
    data.columns = ['MEA_DDHR', 'SKY']
    data['SKY'] = data['SKY'].astype(int)
    
    return data

# 데이터 전처리
## 2016년 데이터

In [126]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [127]:
df_16 = pd.read_csv('../../data/12.rawdata_weather/sky_data/sky_201604-201612.csv')
df_16.shape

(6608, 3)

In [128]:
df_16 = preprocessing(df_16, 201604)
df_16.head()

             MEA_DDHR  SKY
0 2016-04-01 00:00:00    1
1 2016-04-01 01:00:00    1
2 2016-04-01 02:00:00    1
3 2016-04-01 03:00:00    2
4 2016-04-01 04:00:00    2

In [129]:
df_16.tail()

                MEA_DDHR  SKY
6595 2016-12-31 19:00:00    3
6596 2016-12-31 20:00:00    3
6597 2016-12-31 21:00:00    3
6598 2016-12-31 22:00:00    4
6599 2016-12-31 23:00:00    4

In [130]:
df_16.dtypes

MEA_DDHR    datetime64[ns]
SKY                  int32
dtype: object

## 2017년 데이터

In [131]:
df_17 = pd.read_csv('../../data/12.rawdata_weather/sky_data/sky_201701-201712.csv')
df_17.shape

(8771, 3)

In [132]:
df_17 = preprocessing(df_17, 201701)
df_17.head()

             MEA_DDHR  SKY
0 2017-01-01 00:00:00    3
1 2017-01-01 01:00:00    4
2 2017-01-01 02:00:00    4
3 2017-01-01 03:00:00    2
4 2017-01-01 04:00:00    3

In [133]:
df_17.tail()

                MEA_DDHR  SKY
8755 2017-12-31 19:00:00    3
8756 2017-12-31 20:00:00    2
8757 2017-12-31 21:00:00    3
8758 2017-12-31 22:00:00    3
8759 2017-12-31 23:00:00    1

In [134]:
df_17.dtypes

MEA_DDHR    datetime64[ns]
SKY                  int32
dtype: object

## 2018년 데이터

In [135]:
df_18 = pd.read_csv('../../data/12.rawdata_weather/sky_data/sky_201801-201812.csv')
df_18.shape

(8771, 3)

In [137]:
df_18 = preprocessing(df_18, 201801)
df_18.head()

             MEA_DDHR  SKY
0 2018-01-01 00:00:00    1
1 2018-01-01 01:00:00    1
2 2018-01-01 02:00:00    2
3 2018-01-01 03:00:00    3
4 2018-01-01 04:00:00    2

In [138]:
df_18.tail()

                MEA_DDHR  SKY
8755 2018-12-31 19:00:00   -1
8756 2018-12-31 20:00:00   -1
8757 2018-12-31 21:00:00   -1
8758 2018-12-31 22:00:00   -1
8759 2018-12-31 23:00:00   -1

In [139]:
df_18.dtypes

MEA_DDHR    datetime64[ns]
SKY                  int32
dtype: object

## 2019년 데이터

In [140]:
df_19 = pd.read_csv('../../data/12.rawdata_weather/sky_data/sky_201901-201912.csv')
df_19.shape

(8771, 3)

In [141]:
df_19 = preprocessing(df_19, 201901)
df_19.head()

             MEA_DDHR  SKY
0 2019-01-01 00:00:00   -1
1 2019-01-01 01:00:00   -1
2 2019-01-01 02:00:00   -1
3 2019-01-01 03:00:00   -1
4 2019-01-01 04:00:00   -1

In [142]:
df_19.tail()

                MEA_DDHR  SKY
8755 2019-12-31 19:00:00   -1
8756 2019-12-31 20:00:00   -1
8757 2019-12-31 21:00:00   -1
8758 2019-12-31 22:00:00   -1
8759 2019-12-31 23:00:00   -1

In [145]:
df_19['SKY'].value_counts()

-1    8760
Name: SKY, dtype: int64

## 2020년 데이터

In [146]:
df_20 = pd.read_csv('../../data/12.rawdata_weather/sky_data/sky_202001-202003.csv')
df_20.shape

(2186, 3)

In [148]:
df_20 = preprocessing(df_20, 202001)
df_20.head()

             MEA_DDHR  SKY
0 2020-01-01 00:00:00   -1
1 2020-01-01 01:00:00   -1
2 2020-01-01 02:00:00   -1
3 2020-01-01 03:00:00   -1
4 2020-01-01 04:00:00   -1

In [149]:
df_20.tail()

                MEA_DDHR  SKY
2179 2020-03-31 19:00:00   -1
2180 2020-03-31 20:00:00   -1
2181 2020-03-31 21:00:00   -1
2182 2020-03-31 22:00:00   -1
2183 2020-03-31 23:00:00   -1

In [150]:
df_20['SKY'].value_counts()

-1    2184
Name: SKY, dtype: int64

In [169]:
df_18[df_18['SKY'] == -1]

                MEA_DDHR  SKY
6890 2018-10-15 02:00:00   -1
6891 2018-10-15 03:00:00   -1
6892 2018-10-15 04:00:00   -1
6893 2018-10-15 05:00:00   -1
6894 2018-10-15 06:00:00   -1
...                  ...  ...
8755 2018-12-31 19:00:00   -1
8756 2018-12-31 20:00:00   -1
8757 2018-12-31 21:00:00   -1
8758 2018-12-31 22:00:00   -1
8759 2018-12-31 23:00:00   -1

[1870 rows x 2 columns]

2018년 10월 15일부터 2020년까지의 데이터가 결측치