In [49]:
import pandas as pd
import missingno
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
plant1 = pd.read_csv("data/11.rawdata_plant/plant1_train.csv", encoding="utf-8")

In [2]:
def upperData(data):
    if data == "plant_test":
        data = data.iloc[:,1:].copy()
        data.columns = data.columns.str.replace(str(data)+"_test", "")
        data.columns = data.columns.str.upper()
        return data
    else:
        data = data.iloc[:,1:].copy()
        data.columns = data.columns.str.replace(str(data)+"_train", "")
        data.columns = data.columns.str.upper()
        return data

In [3]:
def upperData(data):
    data = data.iloc[:,1:].copy()
    data.columns = data.columns.str.replace(str(data)+"_train", "")
    data.columns = data.columns.str.upper()
    return data

In [4]:
plant1 = upperData(plant1)

In [5]:
plant1

,PLANT1_TRAIN.MEA_DDHR,PLANT1_TRAIN.TEM_IN_LOC1,PLANT1_TRAIN.HUM_IN_LOC1,PLANT1_TRAIN.TEM_COIL_LOC1,PLANT1_TRAIN.TEM_IN_LOC2,PLANT1_TRAIN.HUM_IN_LOC2,PLANT1_TRAIN.TEM_COIL_LOC2,PLANT1_TRAIN.TEM_IN_LOC3,PLANT1_TRAIN.HUM_IN_LOC3,PLANT1_TRAIN.TEM_COIL_LOC3,PLANT1_TRAIN.TEM_OUT_LOC1,PLANT1_TRAIN.HUM_OUT_LOC1,PLANT1_TRAIN.COND_LOC1,PLANT1_TRAIN.COND_LOC2,PLANT1_TRAIN.COND_LOC3
0,2016-04-01 0:00,16.00,24.00,11.00,14.00,23.00,11.00,13.00,32.00,10.00,9.00,42.00,0.0,0.0,0.0
1,2016-04-01 3:00,14.00,28.00,10.00,12.00,32.00,9.00,11.00,42.00,7.00,7.00,59.00,0.0,0.0,0.0
2,2016-04-01 6:00,13.00,33.00,10.00,11.00,37.00,9.00,10.00,44.00,7.00,6.00,56.00,0.0,0.0,0.0
3,2016-04-01 9:00,13.00,33.00,10.00,11.00,35.00,9.00,10.00,41.00,8.00,18.00,30.00,0.0,0.0,0.0
4,2016-04-01 12:00,16.00,28.00,10.00,15.00,27.00,11.00,14.00,30.00,9.00,18.00,20.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58744,2019-03-31 23:10,10.52,36.39,10.52,10.55,35.20,11.17,9.85,37.88,9.79,6.40,43.86,0.0,0.0,0.0
58745,2019-03-31 23:20,10.52,37.09,10.44,10.55,35.53,11.09,9.88,38.40,9.72,6.34,44.02,0.0,0.0,0.0
58746,2019-03-31 23:30,10.43,37.18,10.56,10.49,35.65,11.21,9.85,38.22,9.91,6.40,43.04,0.0,0.0,0.0
58747,2019-03-31 23:40,10.49,38.00,10.56,10.55,36.08,11.21,9.82,38.95,9.83,6.31,45.33,0.0,0.0,0.0
58748,2019-03-31 23:50,10.49,38.74,10.52,10.55,36.69,11.01,9.82,39.35,9.83,6.34,45.94,0.0,0.0,0.0

In [6]:
import os
from datetime import datetime as dt
def save_validation_csv():
    save_path = "data/41.validation/rforest/"+str(dt.today().strftime("%Y%m%d-%H:%M:%S"))
    if not os.path.isdir(save_path):
        os.mkdir(save_path)

In [7]:
rforest= "rforest"
save_validation_csv()

OSError: [WinError 123] 파일 이름, 디렉터리 이름 또는 볼륨 레이블 구문이 잘못되었습니다: 'data/41.validation/rforest/20200616-11:11:25'

In [ ]:
save_path = "data/41.validation/rforest/"+str(dt.today().strftime("%Y%m%d%H%M%S"))
if not os.path.isdir(save_path):
    os.mkdir(save_path)

In [ ]:
import os
from datetime import datetime as dt
def save_validation_csv(data, model_name):
    """모델 별로 저장해주는 함수 data 값과 저장 모델 명을 넣으면 된다"""
    print(model_name)
    save_path = "data/41.validation/"+model_name+"/"+str(dt.today().strftime("%Y%m%d%H%M%S"))
    if not os.path.isdir(save_path):
        os.mkdir(save_path)
    data.to_csv(save_path+"/203545.csv",index=False)

In [ ]:
datetime.today().strftime("%Y%m%d-%H:%M:%S")

In [ ]:
rforest= "rforest"
save_validation_csv(plant1,"rforest")

In [ ]:
"rforest"

In [ ]:
caling_category = ['TEM_IN', 'HUM_IN', "TEM_COIL", "TEM_OUT_LOC1", "HUM_OUT_LOC1", "DEW_POINT_IN"]

In [ ]:
list = ["time"]

In [ ]:
caling_category.extend(list)
caling_category

In [ ]:
caling_category

In [8]:
from sklearn.preprocessing import StandardScaler
def preprosess(data):
    # 파생변수를 스케줄링 해줌(표준화)
    caling_category = ['TEM_IN', 'HUM_IN', "TEM_COIL", "TEM_OUT_LOC1", "HUM_OUT_LOC1", "DEW_POINT_IN"]
    scaling_features = data[caling_category]
    scaler = StandardScaler()
    scaled_nd = scaler.fit_transform(scaling_features)
    scaled_df = pd.DataFrame(scaled_nd, columns=scaling_features.columns)
    data.drop(caling_category, axis=1, inplace=True)
    data = pd.concat([data,scaled_df], axis=1)
    # 원-핫 인코딩
#     category = ["PLANT", "LOC", "MONTH", "WEEK","HOUR"]
    dummy_category = ["PLANT", "LOC"]
    data = pd.get_dummies(data , columns=dummy_category)

    return data

In [9]:
caling_category = ['TEM_IN', 'HUM_IN', "TEM_COIL", "TEM_OUT_LOC1", "HUM_OUT_LOC1", "DEW_POINT_IN"]

In [10]:
appendList = ["a", "b", "c"]

In [11]:
caling_category.extend(appendList)

In [ ]:
caling_category.clear()
caling_category.append()

In [14]:
caling_category = ['TEM_IN', 'HUM_IN', "TEM_COIL", "TEM_OUT_LOC1", "HUM_OUT_LOC1", "DEW_POINT_IN"]

In [15]:
caling_category.extend(appendList)

In [16]:
caling_category

['TEM_IN',
 'HUM_IN',
 'TEM_COIL',
 'TEM_OUT_LOC1',
 'HUM_OUT_LOC1',
 'DEW_POINT_IN',
 'a',
 'b',
 'c']

In [38]:
basic_category = ['TEM_IN', 'HUM_IN', "TEM_COIL", "TEM_OUT_LOC1", "HUM_OUT_LOC1"]

In [39]:
caling_category =  basic_category.extend(appendList)

In [41]:
basic_category.extend(addList)

In [43]:
caling_category = basic_category.copy()

In [44]:
# from sklearn.preprocessing import StandardScaler
# def preprosess(data):
#     # 파생변수를 스케줄링 해줌(표준화)
#     caling_category = ['TEM_IN', 'HUM_IN', "TEM_COIL", "TEM_OUT_LOC1", "HUM_OUT_LOC1", "DEW_POINT_IN"]
#     scaling_features = data[caling_category]
#     scaler = StandardScaler()
#     scaled_nd = scaler.fit_transform(scaling_features)
#     scaled_df = pd.DataFrame(scaled_nd, columns=scaling_features.columns)
#     data.drop(caling_category, axis=1, inplace=True)
#     data = pd.concat([data,scaled_df], axis=1)
#     # 원-핫 인코딩
# #     category = ["PLANT", "LOC", "MONTH", "WEEK","HOUR"]
#     dummy_category = ["PLANT", "LOC"]
#     data = pd.get_dummies(data , columns=dummy_category)

#     return data

['TEM_IN',
 'HUM_IN',
 'TEM_COIL',
 'TEM_OUT_LOC1',
 'HUM_OUT_LOC1',
 'a',
 'b',
 'c',
 'a',
 'b',
 'c']

In [51]:
plant = pd.read_csv("data/31.finaldata_plant/plant.csv")
plant

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC,DEW_POINT_IN
0,2016-04-01 00:00:00,1,1,16.00,24.00,11.00,9.00,42.00,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0,-4.561169
1,2016-04-01 03:00:00,1,1,14.00,28.00,10.00,7.00,59.00,2016-04-02 03:00:00,0.0,2016-04-03 03:00:00,0.0,-4.222123
2,2016-04-01 06:00:00,1,1,13.00,33.00,10.00,6.00,56.00,2016-04-02 06:00:00,0.0,2016-04-03 06:00:00,0.0,-2.896847
3,2016-04-01 09:00:00,1,1,13.00,33.00,10.00,18.00,30.00,2016-04-02 09:00:00,0.0,2016-04-03 09:00:00,0.0,-2.896847
4,2016-04-01 12:00:00,1,1,16.00,28.00,10.00,18.00,20.00,2016-04-02 12:00:00,0.0,2016-04-03 12:00:00,0.0,-2.502215
...,...,...,...,...,...,...,...,...,...,...,...,...,...
349312,2019-03-31 23:00:00,2,3,8.29,37.82,9.53,4.72,50.98,2019-04-01 23:00:00,0.0,2019-04-02 23:00:00,0.0,-5.252838
349313,2019-03-31 23:10:00,2,3,8.26,38.34,9.57,4.72,52.11,2019-04-01 23:10:00,0.0,2019-04-02 23:10:00,0.0,-5.099800
349314,2019-03-31 23:20:00,2,3,8.29,38.92,9.60,4.66,51.01,2019-04-01 23:20:00,0.0,2019-04-02 23:20:00,0.0,-4.874884
349315,2019-03-31 23:30:00,2,3,8.32,39.13,9.49,4.57,51.47,2019-04-01 23:30:00,0.0,2019-04-02 23:30:00,0.0,-4.776917
349316,2019-03-31 23:40:00,2,3,8.26,39.62,9.57,4.47,53.14,2019-04-01 23:40:00,0.0,2019-04-02 23:40:00,0.0,-4.666200

In [66]:
from sklearn.preprocessing import StandardScaler
def preprosess(data,caling_list=[],dummy_list=[]):
    """ 이 함수는 표준화와 원-핫 인코딩을 위한 코드
        data= 데이터프레임값
        caling_list = 스케줄링 해줄 변수들
        dummy_list = 원- 핫 인코딩 해줄 변수
    """
    # 파생변수를 스케줄링 해줌(표준화)
    caling_category = ['TEM_IN', 'HUM_IN', "TEM_COIL", "TEM_OUT_LOC1", "HUM_OUT_LOC1"]
    caling_category.extend(caling_list)
    print("caling_category:",caling_category)
    scaling_features = data[caling_category]
    scaler = StandardScaler()
    scaled_nd = scaler.fit_transform(scaling_features)
    scaled_df = pd.DataFrame(scaled_nd, columns=scaling_features.columns)
    data.drop(caling_category, axis=1, inplace=True)
    data = pd.concat([data,scaled_df], axis=1)
    # 원-핫 인코딩
#     category = ["PLANT", "LOC", "MONTH", "WEEK","HOUR"]
    dummy_category = ["PLANT", "LOC"]
    dummy_category.extend(dummy_list)
    data = pd.get_dummies(data , columns=dummy_category)

    return data

In [67]:
plant = pd.read_csv("data/31.finaldata_plant/plant.csv")
dummy_list = ["MONTH","WEEK","HOUR"]
caling_list= ["DEW_POINT_IN"]
plant = preprosess(plant,caling_list,dummy_list=dummy_list)
plant

caling_category: ['TEM_IN', 'HUM_IN', 'TEM_COIL', 'TEM_OUT_LOC1', 'HUM_OUT_LOC1', 'DEW_POINT_IN']

,MEA_DDHR,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,...,HOUR_14,HOUR_15,HOUR_16,HOUR_17,HOUR_18,HOUR_19,HOUR_20,HOUR_21,HOUR_22,HOUR_23
0,2016-04-01 00:00:00,2016-04-02 00:00:00,0.0,2016-04-03 00:00:00,0.0,-0.036700,-2.057425,-0.486644,-0.416944,-1.060988,...,0,0,0,0,0,0,0,0,0,0
1,2016-04-01 03:00:00,2016-04-02 03:00:00,0.0,2016-04-03 03:00:00,0.0,-0.237239,-1.768877,-0.585582,-0.597441,-0.155766,...,0,0,0,0,0,0,0,0,0,0
2,2016-04-01 06:00:00,2016-04-02 06:00:00,0.0,2016-04-03 06:00:00,0.0,-0.337508,-1.408192,-0.585582,-0.687689,-0.315511,...,0,0,0,0,0,0,0,0,0,0
3,2016-04-01 09:00:00,2016-04-02 09:00:00,0.0,2016-04-03 09:00:00,0.0,-0.337508,-1.408192,-0.585582,0.395291,-1.699968,...,0,0,0,0,0,0,0,0,0,0
4,2016-04-01 12:00:00,2016-04-02 12:00:00,0.0,2016-04-03 12:00:00,0.0,-0.036700,-1.768877,-0.585582,0.395291,-2.232452,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349312,2019-03-31 23:00:00,2019-04-01 23:00:00,0.0,2019-04-02 23:00:00,0.0,-0.809775,-1.060492,-0.632083,-0.803207,-0.582818,...,0,0,0,0,0,0,0,0,0,1
349313,2019-03-31 23:10:00,2019-04-01 23:10:00,0.0,2019-04-02 23:10:00,0.0,-0.812784,-1.022981,-0.628125,-0.803207,-0.522647,...,0,0,0,0,0,0,0,0,0,1
349314,2019-03-31 23:20:00,2019-04-01 23:20:00,0.0,2019-04-02 23:20:00,0.0,-0.809775,-0.981142,-0.625157,-0.808622,-0.581220,...,0,0,0,0,0,0,0,0,0,1
349315,2019-03-31 23:30:00,2019-04-01 23:30:00,0.0,2019-04-02 23:30:00,0.0,-0.806767,-0.965993,-0.636040,-0.816744,-0.556726,...,0,0,0,0,0,0,0,0,0,1
349316,2019-03-31 23:40:00,2019-04-01 23:40:00,0.0,2019-04-02 23:40:00,0.0,-0.812784,-0.930646,-0.628125,-0.825769,-0.467801,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
plant.to_csv()