In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

- aws_cloud(구름)
- aws_icsr_ss(일사/일조)
- aws_lwt_tg(초상온도)
    - <사용불가>
- aws_prsr(기압)
- aws_rhm(상대습도)
- aws_rn(강수)
- aws_ta(기온)
- aws_ts(지면온도)
    - <사용불가>
- aws_wind(바람)

In [4]:
cloud = pd.read_csv('../../data/22.savedata_weather/aws_cloud_save.csv')
cloud.head()

                   tma  stn_id  avg_tca
0  2016-04-01 00:00:00     515      0.0
1  2016-04-01 00:00:00     616      0.0
2  2016-04-01 00:00:00     634      0.0
3  2016-04-01 00:00:00     637      0.0
4  2016-04-01 01:00:00     515      0.0

In [5]:
icsr = pd.read_csv('../../data/22.savedata_weather/aws_icsr_ss_save.csv')
icsr.head()

                   tma  stn_id  sum_ss_hr  sum_gsr
0  2016-04-01 00:00:00     515        0.0      0.0
1  2016-04-01 00:00:00     616        0.0      0.0
2  2016-04-01 00:00:00     634        0.0      0.0
3  2016-04-01 00:00:00     637        0.0      0.0
4  2016-04-01 01:00:00     515        0.0      0.0