# Random Forest

In [77]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

import pandas as pd

## 24시간

In [78]:
# def get_train_test_24( ):
    
#     train = pd.read_csv('../data/plant_train_final.csv')
#     test = pd.read_csv('../data/plant_test.csv')
    
#     train['MEA_DDHR'] = pd.to_datetime(train['MEA_DDHR'])
#     test['MEA_DDHR'] = pd.to_datetime(test['MEA_DDHR'])
    
#     X_train = train.iloc[:, 1:8]
#     X_test = test.iloc[:, 1:8]
#     y_train = train.iloc[:, 10]
#     y_test = test.iloc[:, 9]

#     return X_train, X_test, y_train, y_test

# X_train, X_test, y_train, y_test = get_train_test_24()

def get_train_test_24( ):
    
    train = pd.read_csv('../data/plant_train_final.csv')
    
#     train['MEA_DDHR'] = pd.to_datetime(train['MEA_DDHR'])
    
    data = train.iloc[:, 1:8]
    target = train.iloc[:, 10]
    
    X_train, X_test, y_train, y_test = train_test_split(data, target, 
                                                    test_size=0.2 , random_state= 156)

    return X_train, X_test, y_train, y_test

X_train, X_test, y_train, y_test = get_train_test_24()

In [79]:
X_train.head()

        PLANT  LOC  TEM_IN  HUM_IN  TEM_COIL  TEM_OUT_LOC1  HUM_OUT_LOC1
218405      2    3   35.41   14.64     47.92         15.71         36.11
189004      2    2   21.97   25.45     23.98         25.14         40.26
185751      2    1   23.13   49.54     24.29         25.02         41.27
148039      2    2   31.24   29.96     26.33         30.15         71.89
90333       1    1   21.60   55.68     20.52         18.73         65.26

In [80]:
def get_prediction():
    
    rf_clf = RandomForestClassifier(random_state=0)
    rf_clf.fit(X_train , y_train)
    pred = rf_clf.predict(X_test)
    
    return pred

In [81]:
pred_24 = get_prediction()

In [82]:
pred_sr = pd.Series(pred_24)

In [83]:
pred_sr.value_counts()

0.0    69617
1.0      175
dtype: int64

In [84]:
accuracy = accuracy_score(y_test , pred_24)
print("정확도: ", accuracy)

정확도:  0.9962459880788629

## 48시간

In [50]:
def get_train_test_48( ):
    
    train = pd.read_csv('../data/plant_train_final.csv')
    test = pd.read_csv('../data/plant_test.csv')
    
    train['MEA_DDHR'] = pd.to_datetime(train['MEA_DDHR'])
    test['MEA_DDHR'] = pd.to_datetime(test['MEA_DDHR'])
    
    X_train = train.iloc[:, 1:8]
    X_test = test.iloc[:, 1:8]
    y_train = train.iloc[:, 12]
    y_test = test.iloc[:, 11]

    return X_train, X_test, y_train, y_test

X_train, X_test, y_train, y_test = get_train_test_48()

In [72]:
pred_48 = get_prediction()

In [73]:
pred_sr_48 = pd.Series(pred)
pred_sr_48.value_counts()

0.0    3539
dtype: int64

In [57]:
import matplotlib.pyplot as plt
import numpy as np

In [85]:
# X_train.columns.values
# rf_clf = pd.DataFrame(data=np.c_[X_train.columns.values,rf_clf.feature_importances_],columns=["variable", "importance"])
# rf_clf.sort_values(by="importance", ascending=False, inplace=True)
# plt.figure(figsize=(30, 12))
# plt.bar(rf_clf.variable, rf_clf.cum_sum)
# plt.xticks(rotation=90, fontproperties=font_prop)
# plt.show()

# validation

In [63]:
val = pd.read_csv('../data/validation.csv')
val.head()

,MEA_DDHR,PLANT,LOC,X24H_TMA,X24H_COND_LOC,X24H_COND_LOC_PROB,X48H_TMA,X48H_COND_LOC,X48H_COND_LOC_PROB
0,2019-04-01 0:00,2,3,2019-04-02 0:00,NaN,NaN,2019-04-03 0:00,NaN,NaN
1,2019-04-01 4:30,1,2,2019-04-02 4:30,NaN,NaN,2019-04-03 4:30,NaN,NaN
2,2019-04-01 10:30,2,3,2019-04-02 10:30,NaN,NaN,2019-04-03 10:30,NaN,NaN
3,2019-04-01 11:00,1,1,2019-04-02 11:00,NaN,NaN,2019-04-03 11:00,NaN,NaN
4,2019-04-01 13:30,2,1,2019-04-02 13:30,NaN,NaN,2019-04-03 13:30,NaN,NaN

In [74]:
val['X24H_COND_LOC'] = pred_24
val.head()

,MEA_DDHR,PLANT,LOC,X24H_TMA,X24H_COND_LOC,X24H_COND_LOC_PROB,X48H_TMA,X48H_COND_LOC,X48H_COND_LOC_PROB
0,2019-04-01 0:00,2,3,2019-04-02 0:00,0.0,NaN,2019-04-03 0:00,NaN,NaN
1,2019-04-01 4:30,1,2,2019-04-02 4:30,0.0,NaN,2019-04-03 4:30,NaN,NaN
2,2019-04-01 10:30,2,3,2019-04-02 10:30,0.0,NaN,2019-04-03 10:30,NaN,NaN
3,2019-04-01 11:00,1,1,2019-04-02 11:00,0.0,NaN,2019-04-03 11:00,NaN,NaN
4,2019-04-01 13:30,2,1,2019-04-02 13:30,0.0,NaN,2019-04-03 13:30,NaN,NaN

In [75]:
val['X48H_COND_LOC'] = pred_48
val.head()

,MEA_DDHR,PLANT,LOC,X24H_TMA,X24H_COND_LOC,X24H_COND_LOC_PROB,X48H_TMA,X48H_COND_LOC,X48H_COND_LOC_PROB
0,2019-04-01 0:00,2,3,2019-04-02 0:00,0.0,NaN,2019-04-03 0:00,0.0,NaN
1,2019-04-01 4:30,1,2,2019-04-02 4:30,0.0,NaN,2019-04-03 4:30,0.0,NaN
2,2019-04-01 10:30,2,3,2019-04-02 10:30,0.0,NaN,2019-04-03 10:30,0.0,NaN
3,2019-04-01 11:00,1,1,2019-04-02 11:00,0.0,NaN,2019-04-03 11:00,0.0,NaN
4,2019-04-01 13:30,2,1,2019-04-02 13:30,0.0,NaN,2019-04-03 13:30,0.0,NaN