# 컬럼 정리

In [1]:
import pandas as pd

In [13]:
test = pd.read_csv('../data/plant_test.csv')
test.head()

,Unnamed: 0,mea_ddhr,plant,loc,tem_in,hum_in,tem_coil,tem_out_loc1,hum_out_loc1,x24h_tma,x24h_cond_loc,x48h_tma,x48h_cond_loc
0,1,2019-04-01 0:00,2,3,8.17,40.42,10.10,4.20,54.82,2019-04-02 0:00,NaN,2019-04-03 0:00,NaN
1,2,2019-04-01 4:30,1,2,10.03,48.81,10.79,6.09,59.34,2019-04-02 4:30,NaN,2019-04-03 4:30,NaN
2,3,2019-04-01 10:30,2,3,9.45,40.93,9.07,12.26,32.14,2019-04-02 10:30,NaN,2019-04-03 10:30,NaN
3,4,2019-04-01 11:00,1,1,12.32,34.13,10.86,12.32,28.27,2019-04-02 11:00,NaN,2019-04-03 11:00,NaN
4,5,2019-04-01 13:30,2,1,11.28,22.65,8.76,12.01,19.84,2019-04-02 13:30,NaN,2019-04-03 13:30,NaN

In [14]:
test.columns = test.columns.str.upper()
del test['UNNAMED: 0']
test.head(1)

,MEA_DDHR,PLANT,LOC,TEM_IN,HUM_IN,TEM_COIL,TEM_OUT_LOC1,HUM_OUT_LOC1,X24H_TMA,X24H_COND_LOC,X48H_TMA,X48H_COND_LOC
0,2019-04-01 0:00,2,3,8.17,40.42,10.1,4.2,54.82,2019-04-02 0:00,NaN,2019-04-03 0:00,NaN

# 결측치 처리

In [15]:
test.isnull().sum()

MEA_DDHR            0
PLANT               0
LOC                 0
TEM_IN              0
HUM_IN              0
TEM_COIL            0
TEM_OUT_LOC1        0
HUM_OUT_LOC1        0
X24H_TMA            0
X24H_COND_LOC    3539
X48H_TMA            0
X48H_COND_LOC    3539
dtype: int64

In [17]:
test = test.fillna(2)
test.isnull().sum()

MEA_DDHR         0
PLANT            0
LOC              0
TEM_IN           0
HUM_IN           0
TEM_COIL         0
TEM_OUT_LOC1     0
HUM_OUT_LOC1     0
X24H_TMA         0
X24H_COND_LOC    0
X48H_TMA         0
X48H_COND_LOC    0
dtype: int64

In [19]:
test.to_csv('../data/plant_test.csv', encoding='utf-8', index=False)